<h2>Search friends</h2>
<div id='row friend-lookup'>
  <%= form_tag search_friends_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
     <div class='form-group row no-padding text-center col-md-12'>
      <div class='col-md-11 col-xs-10'>
        <%= text_field_tag :search_param, params[:search_param],
                                            placeholder: 'Enter name or email',
                                            authofocus: true,
                                            required: true,
                                            class: 'form-control search-box input-lg' %>
      </div>
      <div class='col-md-1 col-xs-2'>
        <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div id="results">
    <%= render 'friends/result' %>
  </div>
</div>
